<ion-header>
  <ion-navbar>
    <ion-title>
      {{ 'home.title' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>{{ 'home.lang' | translate }}</ion-label>
      <ion-toggle [(ngModel)]="lang" (ionChange)="updateLang()"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
